/* contact seection styles */
.container-fluid-costum {
  background-color: rgb(40, 42, 53);
  color: white;
  min-height: 40px;
  /* padding-top: 10px; */
}
.container-fluid-costum .contacts i {
  color: orange;
  font-size: 24px;
  margin-right: 20px;
  height: 20px;
  vertical-align: -24px;
}
.container-fluid-costum .contacts span {
  color: rgb(238, 235, 248);
  vertical-align: 5px;
}

/* social media */
.social-media {
  direction: rtl;
}
.social-media i {
  vertical-align: -8px;
  margin-right: 3px;
  padding: 15px;
  width: 55px;
  font-size: 30px;
}
.social-media i:hover {
  background-color: rgb(205, 134, 1);
}
.container-fluid-costum a {
  color: rgb(238, 235, 248);
}

@media only screen and (max-width: 990px){
 .mail-hidden {
 display: none;
  }
  .contacts .roboto-light-italic{
    margin-right: -8px;
  }
}
