.footer-section-wrapper {
  background-color: rgb(7, 7, 18);
  min-height: 300px;
}
.copy-right {
  border-top: 1px dashed orange;
  color: beige;
  padding: 10px;
  color: rgb(190, 187, 187);
  font-size: 15px;

}
.footer-section-wrapper .desc {
  color: beige;
  padding: 20px;
}
.footer-section-wrapper .desc a i {
  font-size: 30px;
  transform: rotate(-18deg);
  padding-left: 10px;
  color: orange;
}
.footer-section-wrapper .desc p {
  font-size: 16px;
  margin-top: 14px;
  color: rgb(230, 230, 230);
}
.footer-section-wrapper .desc a {
  color: white;
  font-size: 15px;
}
.footer-section-wrapper .service h6,
.social h6,
.contact-us h6 {
  font-size: 15px;
  border-bottom: 1px solid rgb(33 30 55);
  padding-bottom: 10px;
}
.footer-section-wrapper .service,
.social,
.contact-us {
  padding: 28px 14px;
  color: rgb(188, 188, 188);
}
.footer-section-wrapper .service ul,
.social ul,
.contact-us ul {
  padding-top: 10px;
}
.footer-section-wrapper .service ul li a {
  margin-bottom: 5px;
  font-size: 14px;
  transition: 0.5s ease;
}
.footer-section-wrapper .service a:hover {
  color: rgb(245, 194, 74);
  cursor: pointer;
  padding-right: 15px;
}
.footer-section-wrapper .service ul li a::before {
  content: "\276f";
  vertical-align: -1px;
  padding-left: 5px;
}
.footer-section-wrapper .service ul li a {
  color: beige;
}

.footer-section-wrapper .social ul {
  direction: ltr;
  text-align: center;
}
.footer-section-wrapper .social ul a {
  color: rgb(188, 188, 188);
  padding-right: 20px;
  transition: 0.5s ease;
}
.footer-section-wrapper .social ul a:hover {
  color: rgb(245, 194, 74);
}
.social form {
  margin-top: 44px;
}
.social form input[type="text"] {
  height: 38px;
  width: 100%;
  padding: 10px;
  outline: none;
}
.social form input[type="submit"] {
  border: none;
  border: none;
  top: 0;
  left: 0;
  color: white;
  height: 38px;
  padding: 0 10px;
  background-color: orange;
  cursor: pointer;
}
.footer-section-wrapper .contact-us ul {
  padding-top: 10px;
}
.footer-section-wrapper .contact-us ul li {
  font-size: 16px;
  direction: rtl;
  margin-bottom: 12px;
}
.footer-section-wrapper .contact-us ul li i {
 padding-left: 10px;
 vertical-align: 1px;
 font-size: 20px;
}
