@import url(style-grid-system.css);
@import url(-contacts.css);
@import url(nav.css);
@import url(header.css);
@import url(-course.css);
@import url(about-us.css);
@import url(_teacher.css);
@import url(_static.css);
@import url(-FAQ.css);
@import url(-footer.css);
@import url(_topic.css);


@font-face {
  font-family: vazir-medium;
  src: url("../fonts/Vazir-Medium-WOL.eot") format(".eot"),
    url("../fonts/Vazir-Medium-WOL.woff") format(".woff"),
    url("../fonts/Vazir-Medium-WOL.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir-Bold;
  src: url("../fonts/Vazir-Bold-WOL.eot") format("eot"),
    url("../fonts/Vazir-Bold-WOL.woff2") format("woff2"),
    url("../fonts/Vazir-Bold-WOL.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir-Regular;
  src: url("../fonts/Vazir-Regular.eot") format("eot"),
    url("../fonts/Vazir-Medium.woff2") format("woff2"),
    url("../fonts/Vazir-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

