 .topic-section-wrapper {
  background-image: url(img/color-bg.png);
  height: 900px;
  background-repeat: no-repeat;
  background-position: left;
}
.topic-section-wrapper .card-header {
  overflow: hidden;
}
.topic-wrapper:hover img {
  transform: scale(1.2) rotate(10deg);
}
.topic-section-wrapper .card-header img {
  transition: 0.5s ease;
}

.topic-section-wrapper .card {
  box-shadow: 1px 1px 1px 1px #efefef !important;
}

.topic-section-wrapper .card-body a {
  font-size: 16px;
  padding: 5px;
}
.topic-section-wrapper .card-body {
  margin: 32px 10px;
}
.topic-section-wrapper .card-body .post-date {
  top: -58px;
  right: 10px;
  width: 45px;
  text-align: center;
  font-size: 16px;
}
.topic-wrapper .card-body .post-date div:first-child {
  background-color: orange;
}
.topic-wrapper .card-body .post-date div:last-child {
  background-color: rgb(236, 234, 232);
}
.topic-wrapper .card-body p {
  font-size: 16px;
  margin-top: 15px;
  line-height: 30px;
  color: rgb(84, 83, 83);
}
.topic-wrapper .card-footer ul li {
display: inline-block;
}
.topic-wrapper .card-footer ul li span i, .topic-section-wrapper .card-footer ul li span {
color: #5b5a5a82;   
font-size: 16px;
margin: 0 3px;
 }
     
    